@import "normalise"; // Standardise elements

// Modern clearfix hack http://css-tricks.com/snippets/css/clear-fix/ for IE8+
.group:after {
  content:"";
  display:table;
  clear:both;
}

$active:#0084ab;
$toggle:silver;

html {
  font-size:100%;
  height:10%; // May muck-up stuff!
}

body {
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
  font-weight:400;
  font-size:0.875rem; // 14 px
  line-height:1.5em;

  background:#f8f8f8;
  color:#333;

  height:100%; // May muck-up stuff!
}

textarea, input {
  outline:none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
} // remove webkit glow and ios form styling oddities!

* {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-tap-highlight-color:rgba(0,0,0,0); // removed webkit highlighting of clicked elements (great to tidy up switch toggle)
}

section {
  max-width:348px;
  width:100%;
  margin:1rem auto;
  padding:1.5rem;
  padding-left:0.5rem;
  padding-right:0.5rem;
  background:#f1f1f1;
  border-radius:4px;
  border:1px solid darken(#f1f1f1, 5%);

  @media only screen and (min-width:349px) {
    padding:1.5rem;
  }

}

fieldset {
  border:0;
  margin:0;
  padding:0;
}

legend {
  padding-bottom:0.5rem;
  font-size:1.1rem;
  width:100%;
  border-bottom:1px solid silver;
}

.fof-element {
  margin:0.8rem 0;

  .label {
    display:block;
    margin-bottom:0.5rem;
  }

    input:disabled ~ i {
      opacity:0.5;
      cursor:default;
    }

    input:not([type=button]):not([type=submit]):not([type=checkbox]):not([type=radio]), .fof-select, .fof-select select {
      display:block;
      // max-width:300px; // Suggest you set this if you're not having a fixed width column...
      width:100%;
      padding:0.5rem;
      border:1px solid silver;

      &:focus {
        border-color:$active;
        -webkit-transition:border-color 0.2s;
        -moz-transition:border-color 0.2s;
        -o-transition:border-color 0.2s;
        -ms-transition:border-color 0.2s;
        transition:border-color 0.2s;
      }

    }

    label {
      display:inline-block;
      vertical-align:middle;
      cursor:pointer;

      input[type=checkbox], input[type=radio] {
        opacity:1; // for debug you can switch this to 1 and remove the z-index to see input element
        z-index:-1;
        position:absolute;
      }

      input[type=checkbox] ~ i, input[type=radio] ~ i {
        display:inline-block;
        vertical-align:middle;
        width:1.5rem;
        height:1.5rem;
        border:0.1875rem solid $toggle;
        background:white;
        border-radius:0.25rem;
        margin-right:1rem;
        -webkit-transition:background 0.2s;
        -moz-transition:background 0.2s;
        -o-transition:background 0.2s;
        -ms-transition:background 0.2s;
        transition:background 0.2s;

        &.switch {
          border:0;
          background:$toggle;
          border-radius:100px;
          width:50px;
          position:relative;
          height:26px;
          margin:0;
          margin-left:0.5rem;

          &:after {
            content:'';
            display:block;
            width:24px;
            height:24px;
            border:1px solid $toggle;
            background:white;
            border-radius:100px;
            position:absolute;
            top:0;
            left:0;
            margin-left:0;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
          }

        }

      }

      input[type=radio] ~ i {
        border-radius:100px;
        border-width:0.35rem;
      }

      input[type=checkbox]:checked + i, input[type=radio]:checked + i, , input[type=checkbox]:checked + i.switch {
        background:$active;

         &.switch {

          &:after {
            content:'';
            border-color:$active;
            left:100%;
            margin-left:-26px;
          }

        }

      }

      input[type=checkbox]:focus + i, input[type=radio]:focus + i {
        border-color:darken($toggle, 10%); // For accessiblity, and to allow easy tabbing through the form change state of focused inputs

        &.switch {
          background:darken($toggle, 10%);

          &:after {
            border-color:darken($toggle, 10%);
          }

        }

      }

      input[type=checkbox]:focus:checked + i {

        &.switch {
          background:darken($active, 10%);

          &:after {
            border-color:darken($active, 10%);
          }

        }

      }

    }

    input[type=date] {
      position:relative;
      padding-left:1.75rem !important; // not sure what's going on here...
      background:white url(calendar.svg) no-repeat 0.5rem center;
    }

    &.list {
      margin:1rem 0;

      label {
        display:block;
        margin:0.5rem 0;

        input[type=checkbox] ~ i, input[type=radio] ~ i {
          margin-right:0.2rem;
        }

      }

    }

    .fof-select {
      position:relative;
      background:transparent;
      padding:0;
      border:0;
      background:white;

      select {
        position:relative;
        box-shadow:none;
        background-image:none;
        -webkit-appearance:none;
        -moz-appearance:none;
        background:transparent;
        cursor:pointer;
        padding:0.45rem;
        z-index:10;
        border-radius:0;

        &:focus {
          border-color:$active;
        }

      }

      select::-ms-expand {
        display:none;
      }

      i {
        content:'';
        display:block;
        width:2rem;
        height:calc(100% - 2px);
        position:absolute;
        top:1px;
        right:1px;
        background:white;
        cursor:pointer;
        z-index:5;
      }

      i:after {
        content:'';
        display:block;
        position:absolute;
        top:50%;
        right:0.4rem;
        border:0.35rem outset transparent;
        border-top:$active 0.35rem solid;
        margin-top:-0.175rem;
      }

    }

    select:focus {
      outline:none;
    }

}

button, .button {
  width:100%;
  background:$active;
  text-align:center;
  border:0;
  padding:0.5rem;
  color:white;
  border-radius:4px;

  &:hover {
    background:lighten($active, 5%);
    -webkit-transition:background 0.2s;
    -moz-transition:background 0.2s;
    -o-transition:background 0.2s;
    -ms-transition:background 0.2s;
    transition:background 0.2s;
  }

}